body{
    margin: 0;
    padding: 0;
    background: #232D3F;
}

textarea, input {
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
}

.background-container{
    display: grid;
    place-items: center;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background: #232D3F;
    grid-auto-flow: column;
}

.book-container{
    display: flex;
    width: 100%;
    height: 100%;
    background: #232D3F;
    flex-direction: column;
    overflow: scroll;
}

.book-searchbar{
    width: 100dvw;
    height: 3rem;
    background: #0F0F0F50;
}

.book-input{
    width: 100dvw;
    height: 100%;
    text-indent: 1rem;
    color: white;
    background: transparent;
}

.book-contacts {
    display: flex;
    width: 80%;
    height: auto;
    max-height: auto;
    overflow: scroll;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    padding-top: 3rem;
}

.book-title{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1rem;
}

.book-contact{
    display: grid;
    grid-template-columns: auto min-content min-content;
    width: 100%;
    height: 4rem;
    border: 1px solid #EEEEEE30;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.book-contact > span{
    color: white;
    font-size: 1rem;
}

.book-action, .book-action-2{
    display: flex;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.book-action{
    background: #DF1919;
}

.book-add-container{
    width: 3rem;
    height: 3rem;
    background-color: #008170;
    position: sticky;
    bottom: 1rem;
    left: 95%;
    display: grid;
    place-items: center;
    color: white;
    border-radius: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
}

.modal-container{
    display: none;
    width: 100dvw;
    height: 100dvh;
    background-color: #00000040;
    position: fixed;
    place-items: center;
}

.modal{
    display: grid;
    place-items: center;
    width: 80%;
    height: auto;
    background-color: white;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
}

.modal-title{
    display: grid;
    width: 90%;
    height: auto;
    grid-template-columns: auto min-content;
}

.modal-title > p:last-child{
    cursor: pointer;
}

.modal-input{
    width: 90%;
    height: 3rem;
    text-indent: 1rem;
    color: #000000;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.modal-button{
    width: 90%;
    height: 3rem;
    display: grid;
    place-items: center;
    background-color: #000000;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
}

.book-sort-container{
    width: 3rem;
    height: 3rem;
    background-color: #068FFF;
    position: sticky;
    bottom: 5rem;
    left: 95%;
    display: grid;
    place-items: center;
    color: white;
    border-radius: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
}