body{
    margin: 0;
    padding: 0;
}

textarea, input {
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
}

.background-container{
    display: grid;
    place-items: center;
    width: 100dvw;
    height: 100dvh;
}

.book-container{
    display: flex;
    width: 100%;
    height: 100%;
    background: #232D3F;
    flex-direction: column;
}

.book-searchbar{
    width: 100dvw;
    height: 3rem;
    background: #0F0F0F50;
}

.book-input{
    width: 100dvw;
    height: 100%;
    text-indent: 1rem;
    color: white;
    background: transparent;
}

.book-contacts {
    display: flex;
    width: 90%;
    height: 40rem;
    max-height: 40rem;
    overflow: scroll;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    padding-top: 3rem;
}

.book-title{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1rem;
}

.book-contact{
    display: grid;
    grid-template-columns: auto min-content min-content;
    width: 100%;
    height: 4rem;
    border: 1px solid #EEEEEE30;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.book-contact > span{
    color: white;
    font-size: 1rem;
}

.book-action, .book-action-2{
    display: flex;
    width: 6rem;
    height: 2rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.book-action{
    background: #008170;
}

.book-action-2{
    border: 1px solid #008170;
}